.login-container {
 max-width: 350px; /* Ancho máximo */
 background-color: #fff; /* Color de fondo del contenedor */
 box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); /* Sombra */
 padding: 20px; /* Espaciado interno */
}
.login-link {
 color: #026842; /* Color verde */
}
.form-control {
 border: 2px solid #026842; /* Borde verde */
 background-color: #eeeeee; /* Color de fondo gris */
 padding: 10px; /* Espaciado interno */
 margin-bottom: 15px; /* Margen inferior */
}
.btn-sm-center {
 display: flex;
 justify-content: center;
}
.icono-persona {
 font-size: 3em; /* Ajusta el tamaño del icono */
 color: #026842; 
 background-color: #fff; /* Cambia el color del fondo a blanco */
 border-radius: 50%; /* Haz que el borde sea redondeado */
 padding: 15px; /* Ajusta el relleno según sea necesario */
}

.btn-custom {
    background-color: #026842; /* Color azul personalizado */
    /* Otros estilos opcionales */
    color: #fff; /* Color de texto blanco */
    border-color: #026842; /* Color de borde igual al de fondo */
}
