.login-container {
 margin-top: 100px; /* Espaciado superior */
 max-width: 400px; /* Ancho máximo */
 background-color: #fff; /* Color de fondo del contenedor */

 box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); /* Sombra */
 padding: 20px; /* Espaciado interno */
}
/* Estilos para el enlace "Iniciar Sesión" */
.login-link {
 color: #026842; /* Color verde */
}
.form-control {
 border: 2px solid #026842; /* Borde verde */
 background-color: #eeeeee; /* Color de fondo gris */
 padding: 10px; /* Espaciado interno */
 border-radius: 5px; /* Borde redondeado */
 margin-bottom: 15px; /* Margen inferior */
}
.btn-sm-center {
 display: flex;
 justify-content: center;
}
.icono-llave {
 font-size: 3em; /* Tamaño del icono */
 color: #026842; /* Color del icono */
 transform: rotate(90deg); /* Rotar el icono 90 grados hacia abajo */
}
.btn-custom {
    background-color: #026842; /* Color azul personalizado */
    /* Otros estilos opcionales */
    color: #fff; /* Color de texto blanco */
    border-color: #026842; /* Color de borde igual al de fondo */
}

