---
import { getPosts } from "../services/api.post";
const posts = await getPosts()
console.log(posts);

---
<ul>
{
 posts.map(post=>(
 <li>{post.user.username}</li>
 ))
}
</ul>
<a href="/home">Home</a>