---
interface Props {
 urlImageUser: String
 fullNameUser: String
 username: String
 followersCount: number
 followingsCount: number
}

const {urlImageUser, fullNameUser, username, followersCount, followingsCount} = Astro.props
---

<aside class="col-3">
 <div class="card shadow-lg">
  <br /><br />
  <div class="tab-content" id="myTabContent">
   <div
    class="tab-pane fade show active"
    id="home-tab-pane"
    role="tabpanel"
    aria-labelledby="home-tab"
    tabindex="0"
   >
    <div class="row">
     <div class="col-md-12">
      <div class="card shadow-lg">
       <div class="card-body text-center">
        <img
         class="img-thumbnail mt-3"
         src={urlImageUser + ""}
         alt="Imagen de usuario"
         width="150"
        />

        <div class="row">
         <div class="col">
          <p>{fullNameUser}</p>
         </div>
        </div>
        <div class="row">
         <div class="col">
          <p>@{username}</p>
         </div>
        </div>

        <hr />
        <div class="row">
         <div class="col">
          <p>Seguidores {followersCount}</p>
         </div>
        </div>
        <hr />
        <div class="row">
         <div class="col">
          <p>Seguidos {followingsCount}</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</aside>