<style>
 .bg-custom {
background-color: #518fa8; /* Color azul claro personalizado */
}

.text-custom {
color: white; /* Color de texto personalizado para el azul claro */
}
</style>
<header>
 <div class="px-3 py-2 bg-custom text-custom">
   <div class="container">
     <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
       <ul class="navbar-nav mr-auto"> <!-- Alineación a la izquierda -->
         <li class="nav-item">
           <a href="/home" class="nav-link text-white">
             <i class="fas fa-home me-2"></i> Home <!-- Espacio agregado -->
             <img src="../../public/assets/img/1.jpg" alt="Imagen de usuario" class="rounded-circle ms-5" width="40" height="40">
           </a>
         </li>
       </ul>
     
       <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none"></a>

       <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
         <li>
           <a href="/notifications" class="nav-link text-white">
             <i class="fas fa-bell"></i>
           </a>
         </li>
         <li>
           <a href="#" class="nav-link text-white">
             <i class="fas fa-sign-out-alt"></i>
           </a>
         </li>
       </ul>
     </div>
   </div>
 </div>
</header>