---
interface Props {
  title: string  
}

const {title} = Astro.props
---

<div class="container-fluid layout-mobile">
  <div class="row">
    <nav class="navbar navbar-expand-lg bg-200">
      <div class="container">
        <div class="d-flex me-auto">
          <a href="/home" class="nav-link fw-bolder text-white m-auto">
            {title}
          </a>
          <a href="#" style="height: 40px;">
          </a>
        </div>
        <div class="d-flex">
          <a href="/notifications" class="mx-4 nav-link text-white">
            <i class="fas fa-bell"></i>
          </a>
          <a href="#" class="nav-link text-white" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Bottom popover">
            <i class="fas fa-sign-out-alt"></i>
          </a>
        </div>
      </div>
    </nav>
   <main class="posts col-12 col-lg-9">
    <div class="row border px-4 py-4">
     <slot />
    </div>
    <nav class="navbar fixed-bottom bg-200" >
      <div class="container d-flex justify-content-between">
        <a href="/home" class="text-white">
          <i class="fas fa-home"></i>
        </a>
        <a href="/home" class="text-white">
          <i class="fas fa-home"></i>
        </a>
        <a href="/home" class="text-white">
          <i class="fas fa-home"></i>
        </a>
        <a href="/home" class="text-white">
          <i class="fas fa-home"></i>
        </a>
        <a href="/profile">
          <img
            src="assets/img/1.jpg"
            alt="Imagen de usuario"
            class="rounded-circle"
            width="40"
            height="40"
          />
        </a>
      </div>
    </nav>
   </main>
  </div>
 </div>